.notFound {
  position: absolute;
  margin-top: 105px;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: linear-gradient(to right, rgb(22, 52, 149) 70%, rgba(92, 36, 43, 0.753) 96%);
}
