@import "../../variables.scss";
// .card {
//     // position: relative;
//     z-index: 1;
//     background: $dark-grey;
//     display: flex;
//     width: 20%;
//     margin: 0 auto;
//     // margin: 10px 10px;
// }
.card {
  @extend %card;
  font-size: 1.4rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: space-evenly;
  margin: 20px auto;
  flex-basis: auto;
  p {
    line-height: $base-spacing;
    padding: $base-spacing 20px;
  }
}
