@import "./variables";

.appNavBar {
}
.content {
  width: 100%;
  background: linear-gradient(to right, rgb(22, 52, 149) 70%, rgba(92, 36, 43, 0.753) 96%);
}
.appMainContent {
  background: $gradient;
  width: 100%;
  z-index: -1;
}
