// FONTS
$font-ubuntu: 'Ubuntu', 'Arial', 'Helvetica', sans-serif;
$font-nunito: 'Nunito', 'Arial', 'Helvetica', sans-serif;

// COLORS

$white: #f6e9e9;
$black: #181717;
$color-grey-light: #808080;
$color-grey-dark: #444545;

$color-primary: #0202ea;
$color-secondary: #621708;
$color-tertiary: #40d763;

$single-color-background: hsla(59, 86%, 68%, 1);
$gradient: linear-gradient(180deg,
       grey, red);

// SPACINGS

$base-spacing: 5px;

// MIXINS

@mixin clearfix() {
  &::after {
    display: table;
    content: "";
    clear: both;
  }
}


